@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Josefin+Sans&family=Lexend&family=Outfit&family=PT+Serif&display=swap');

body, h1, h2, p, ul, li {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  margin-top: 50px;
}

body {
  background-color: #fdf9f9;
}
.skip-link {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: 20px;
  background-color: #302e2d;
  color: #FFC069;
  border-radius: 20px;
  padding: 8px;
  z-index: 100;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
}
 
.skip-link:focus {
   top: 0;
}
header {
  background-color: #302e2d;
  color: #fff;
  padding: 12px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.menu {
  background-color: #302e2d;
  padding: 10px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 5px 0;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.menu li a:hover {
  color: #FFC069;
}

.mobile-menu-button {
  display: none;
}
/* loading.css */

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FFC069;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 5s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 1.3rem;
}

.hero img {
  object-fit: fill;
  height: 100vh;
  width: 100%;
}

.daftar,
.content-heading {
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  border-radius: 8px;
  font-family: 'PT Serif', serif;
}

.daftar h2 {
  font-size: 30px;
  color: #333;
  margin: 0 0 10px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

.daftar p {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  margin: 0;
}

.catalog {
  display: inline-flex;
  align-items: center;
  padding: 8px 24px;
  gap: 0.5rem;
  background-color: #302e2d;
  color: #FFC069;
  margin-top: 30px;
  font-size: 14px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-shadow: none;
  min-width: 44px;
  min-height: 44px;
}

.catalog a{
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
.catalog a:hover {
  color: #fff;
  background-color: #FFC069;
}

#restaurants {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  cursor: default;
}

.restaurant-item {
  flex-basis: calc(25% - 25px);
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.restaurant-item-image {
  width: 100%;
  margin-top: 0;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s ease;
  filter: grayscale(65%);
}

.restaurant-item:hover .restaurant-item-image {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.restaurant-item-info {
  padding: 18px;
  text-align: justify;
}

.restaurant-item-name {
  font-size: 1.3rem;
  margin: 0;
  color: #333;
  padding: 0 15px 0;
  text-align: left;
  font-family: 'PT Serif', serif;
}

.restaurant-item-name a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.restaurant-item-name a:hover {
  color: #FFC069;
}

.restaurant-item-city {
  font-size: 1.2rem;
  padding: 0 15px 0;
  margin: 8px 0;
  color: #666;
  font-family: 'Gabarito', sans-serif;
}

.restaurant-item-description {
  font-size: 0.9rem;
  margin: 8px 0;
  padding: 0 15px 0;
  font-family: 'Gabarito', sans-serif;
  color: #777;
  max-height: 80px;
  position: relative;
  overflow-y: scroll;
  scrollbar-color: #ddd;
}

.rating-stars {
  color: #FFC069;
  text-decoration: solid;
  font-size: 1.4rem;
  padding: 0 10px 0 15px;
}

.restaurant-item-rating {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1.15rem;
  padding-bottom: 20px;
}

.restaurant-item:hover .rating-stars {
  transform: scale(1.2);
}

.restaurant-item-description::-webkit-scrollbar {
  width: 6px;
}

.restaurant-item-description::-webkit-scrollbar-track {
  background: #fdf9f9;
}

.restaurant-item-description::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.restaurant-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  font-family: 'PT Serif', serif;
}

.restaurant-detail-name {
  font-size: 2rem;
  text-align: center;
  color: #333;
  padding: 0 15px;
  font-family: 'PT Serif', serif;
}

.restaurant-detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.restaurant-detail-info {
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-detail-description {
  background-color: #f8f8f8;
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-detail-description h4 {
  margin-top: 0;
}

.restaurant-detail-food,
.restaurant-detail-drink {
  margin-bottom: 12px;
  padding-top: 25px;
}

.restaurant-detail-food,
.restaurant-detail-drink,
.customer-review-box {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.restaurant-menus {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.restaurant-detail-food,
.restaurant-detail-drink {
  flex: 1;
  min-width: 200px;
}

.restaurant-customer-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.customer-review-box {
  flex: 1;
  min-width: 300px;
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-review-box h5 {
  margin-top: 0;
}
.customer-review-box h4 {
  margin-top: 20px;
}

.customer-review-box span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.like {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #302e2d;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transform: rotate(-45deg);
}

.like:before {
  content: '\2764';
  font-size: 30px;
  transform: rotate(45deg);
  transition: color 0.3s ease-in-out;
}

.like:hover:before,
.like.clicked:before {
  color: #fdf9f9;
  background-color: #db0000;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 50%;
  border: 0;
}

.review-container {
    margin-top: 20px;
  }
  
  .review-container h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  #reviewForm {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  }
  
  #reviewForm label {
    margin-top: 10px;
  }
  
  #reviewName {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  
  #reviewText {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 100px;
    resize: vertical;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: #302e2d;
    color: #fff;
    border: none;
    border-radius: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #FFC069;
    color: #302e2d;
  }
  
  footer {
=======
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
}

body {
    background-color: #fdf9f9;
}

header {
    background-color: #302e2d;
    color: #fff;
    padding: 12px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.menu {
    background-color: #302e2d;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px 0;
    display: block;
}

.menu ul li a:hover {
    color: #FFC069;
}

.mobile-menu-button {
    display: none;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    padding: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 1.3rem;
}

.hero img {
    object-fit: fill;
    height: 100vh;
    width: 100%;
}

.daftar {
    text-align: center;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
}

.daftar h2 {
    font-size: 30px;
    color: #333;
    margin: 0 0 10px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}

.daftar p {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    margin: 0;
}

.filter {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.filter label {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
    padding: 0 10px;
}

.filter input {
    padding: 8px 10px;
    width: 10%;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 5px 0;
}


#restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    cursor: default;
}

.restaurant {
    width: calc(25% - 25px);
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.restaurant-image {
    width: 100%;
    margin-top: 0;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease;
    filter: grayscale(65%);
}

.restaurant:hover .restaurant-image {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.restaurant-info {
    padding: 18px;
    text-align: justify;
}

.restaurant-name {
    font-size: 1.3rem;
    margin: 0;
    color: #333;
    padding: 0 15px 0;
    font-family: 'PT Serif', serif;
}

.restaurant-city {
    font-size: 1.2rem;
    padding: 0 15px 0;
    margin: 8px 0;
    color: #666;
    font-family: 'Gabarito', sans-serif;
}

.restaurant-description {
    font-size: 0.9rem;
    margin: 8px 0;
    padding: 0 15px 0;
    font-family: 'Gabarito', sans-serif;
    color: #777;
    max-height: 80px;
    position: relative;
    overflow-y: scroll;
    scrollbar-color: #ddd;
}

.rating-stars {
    color: #FFC069;
    text-decoration: solid;
    font-size: 1.4rem;
    padding: 0 10px 0 15px;
}

.restaurant-rating {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.10rem;
}

.restaurant:hover .rating-stars {
    transform: scale(1.2);
}

.restaurant-description::-webkit-scrollbar {
    width: 6px;
}

.restaurant-description::-webkit-scrollbar-track {
    background: #fdf9f9;
}

.restaurant-description::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

footer {
>>>>>>> 22fc3dbc88e688b14d97611494cc952ee6b53d14
    background-color: #302e2d;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    max-height: 30px;
    overflow: hidden;
<<<<<<< HEAD
  }
  
  .footer-content {
=======
}

.footer-content {
>>>>>>> 22fc3dbc88e688b14d97611494cc952ee6b53d14
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
<<<<<<< HEAD
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  
  .social-icons a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  

  
=======
}

.footer-content p {
    margin: 0; 
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    .social-icons {
        margin-top: 10px;
    }
    .social-icons img{
        width: 20px;
        height: 20px;
    }
}
>>>>>>> 22fc3dbc88e688b14d97611494cc952ee6b53d14
